<html>
  <head>
    <title>Error</title>
    <link rel="stylesheet" href="/error.css" />
  </head>
  <body>
    <button class="home-button" onClick="window.location.href='/'">
      <h1>Message Board</h1>
    </button>
    <div class="error"><%= message%></div>
  </body>
</html>
