<html>
  <head>
    <title>Message Board</title>
  </head>
  <body>
    <form method="POST" action="/new">
      <h1>New Message</h1>
      <input name="messageUser" type="text" placeholder="User" />
      <input name="messageText" type="text" placeholder="Message" />
      <button type="submit">Submit</button>
    </form>
  </body>
</html>
