<div class="message-container">
  <ul class="message">
    <li class="user"><%= message.user%></li>
    <li class="date"><%= message.added%></li>
    <li class="text"><%= message.text%></li>
  </ul>
  <button
    class="open-button"
    onClick="window.location.href = '/open/<%=message.id%>' "
  >
    >
  </button>
</div>
