<div class="message-container">
  <ul class="message">
    <li class="username"><%= message.username%></li>
    <li class="date"><%= new Date(message.added).toLocaleString() %></li>
    <li class="text"><%= message.text%></li>
  </ul>
  <button
    class="open-button"
    onClick="window.location.href = '/open/<%=message.id%>' "
  >
    >
  </button>
</div>
