<html>
  <head>
    <title>Message Details</title>
    <link rel="stylesheet" href="/open.css" />
  </head>
  <body>
    <button class="home-button" onClick="window.location.href='/'">
      <h1>Message Board</h1>
    </button>
    <div class="message-details">
      <h2>Message Details</h2>
      <ul class="message">
        <li class="username"><%= message.username%></li>
        <li class="date"><%= new Date(message.added).toLocaleString() %></li>
        <li class="text"><%= message.text%></li>
      </ul>
    </div>
  </body>
</html>
